<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/post-show.css">
  <link rel="stylesheet" href="/stylesheets/starability-basic.min.css">
  <script src="https://kit.fontawesome.com/22fbf87ba2.js"></script>
</head>
<body>
  <% include ../partials/navbar %>
  <% include ../partials/flash-messages %>
  <!-- Body -->
  <%- body -%>
  <!-- END body -->
  <script>
    var post = <%- JSON.stringify(post) %>;
  </script>
  <script src="/javascripts/postShow.js"></script>
</body>
</html>