<% layout('layouts/boilerplate') -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div id="map"></div>

<script>
  //get mapbpx access token passed (as local var) to view from controllers MW
  mapboxgl.accessToken = "<%= MBXToken %>"
  // create new obj to be used by map.
  // JSON.stringify(posts) -> posts come from controller as local var
  var posts = { type: "FeatureCollection", features: <%- JSON.stringify(posts) %>}

  </script>
<script src="/javascripts/allPostsClusterMap.js"></script>